<%= icon_title_for(t("actions.import") + " " + Cid.model_name.human(count: :many), "icon-tags") %>
<div class="row-fluid">
  <div class="span12">
    <div class="box dark">
      <header>
        <div class="icons"><i class="icon-upload-alt"></i></div>
        <h5><%= t("actions.import") %></h5>
        <!-- .toolbar -->
        <div class="toolbar">
          <ul class="nav">
            <li>
              <a class="accordion-toggle minimize-box" data-toggle="collapse" href="#div-1">
                <i class="icon-chevron-up"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- /.toolbar -->
      </header>
      
      <div id="div-1" class="accordion-body collapse in body">
        <%= render partial: 'shared/alerts' %>
        <%= simple_form_for(:cids, :url => load_cids_path, :html => { :class => 'form-horizontal' }) do |f| %>
          <fieldset>
            <div class="control-group">
              <%= f.label :import_file, "Arquivo", class: "control-label" %>
              <div class="controls">
                <%= f.file_field :import_file %>
              </div>
            </div>
            
            <div class="form-actions">
              <%= f.button :submit, "Salvar" %>
            </div>
          </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</div>