<%= icon_title_for(Occupation.model_name.human(count: :many), "icon-stethoscope") %>
<div class="row-fluid">
  <div class="span12">
    <div class="box dark">
      <header>
        <div class="icons"><i class="icon-list-ul"></i></div>
        <h5>Lista de Convênios</h5>
        <!-- .toolbar -->
        <div class="toolbar">
          <ul class="nav">
            <% if can? :manage, Occupation %>
              <li><%= link_to 'Nova especialidade', new_occupation_path, 'data-target' => "#content" %></li>
            <% end %>
            <li>
              <a class="accordion-toggle minimize-box" data-toggle="collapse" href="#div-1">
                <i class="icon-chevron-up"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- /.toolbar -->
      </header>
        <div id="div-1" class="accordion-body collapse in body">  
          <%= render partial: 'shared/alerts.html.erb' %> 
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th> Nome </th>
                <% if can? :manage, Occupation %>
                  <th> Ações </th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% @occupations.each do |occupation| %>
                <tr>
                  <td> <%= occupation.name %> </td>
                  <% if can? :manage, Occupation %>
                    <td>
                      <%= link_to edit_occupation_path(occupation), title: "Editar" do %>
                        <i class="icon-pencil icon-large" style="padding-right: 5px"></i>
                      <% end %>
                      <% if occupation.active? %>
                        <%= link_to occupation_path(occupation), title: "Desativar", :method => :delete, :confirm => 'Tem certeza que deseja desativar uma especialidade do sistema?' do %>
                          <i class="icon-trash icon-large" style="padding-right: 5px"></i>
                        <% end %>
                      <% else %>
                        <%= link_to occupation_recreate_path(:occupation_id=>occupation), title: "Reativar", :confirm => 'Tem certeza que deseja reativar essa especialidade no sistema?' do %>
                          <i class="icon-undo icon-large" style="padding-right: 5px"></i>
                        <% end %>
                      <% end %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>