<%= simple_form_for(admin, :html => { :class => 'form-horizontal' }) do |f| %>
  <fieldset>
    <div class="control-group">
      <div class="controls">
        <%= image_tag admin.avatar.url(:medium), class: "media-object img-polaroid user-img" %>
      </div>
    </div>
    <%= f.input :avatar %>
    <!--<div class="control-group">
      <div class="controls">
        <%= check_box_tag :delete_avatar, label: "Remover avatar" %>
      </div>
    </div>-->
    <%= f.input :name %>
    <%= f.input :email %>
    <% if admin.new_record? %>
      <%= f.input :username %>
    <% else %>
      <%= f.input :username, :disabled => true %>
    <% end %>
    <div class="form-actions">
      <%= f.button :submit, "Salvar" %>
      <%= link_to "Cancelar", admins_path, :class => :btn %>
    </div>
  </fieldset>
<% end %>
