<%= icon_title_for("Estatísticas", "icon-bar-chart") %>
<div class="row-fluid">
  <div class="span12">
    <div class="box dark">
      <header>
        <div class="icons"><i class="icon-file-text"></i></div>
        <h5>Época de ocorrências por CID</h5>
        <!-- .toolbar -->
        <div class="toolbar">
          <ul class="nav">
            <li>
              <a class="accordion-toggle minimize-box" data-toggle="collapse" href="#div-1">
                <i class="icon-chevron-up"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- /.toolbar -->
      </header>
      <div id="div-1" class="accordion-body collapse in body">        
        <p>
          <div style="margin-bottom: 13px">
            <%= link_to statistics_path(request.params), class: "btn" do %>
              <i class="icon-reply"></i> Voltar
            <% end %>
            <%= link_to time_statistics_path(request.params.merge({format: "xlsx"})), class: "btn btn-success", target: "_blank" do %>
              <i class="icon-download-alt"></i> Exportar planilha
            <% end %>
          </div>
        </p>
        <p>
          <br />
          <b> Data inicial: </b> <%= params[:time_search][:date_from] %><br />
          <b> Data final: </b> <%= params[:time_search][:date_to] %>
          <br /><br />
        </p>
        <% dates_list = [] %>
        <p>
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th> Paciente </th>
                <th> Status </th>
                <th> Data da ocorrência </th>
                <th> CID </th>
              </tr>
            </thead>
            <tbody>
              <% @record_entries.sort_by{ |e| e.appointment.scheduled_at }.each do |entry| %>
                <tr>
                  <td> <%= entry.appointment.record.pacient.name %> </td>
                  <td> <%= entry.appointment.record.status.text %> </td>
                  <td> <%= entry.appointment.scheduled_at.strftime("%m/%Y") %> </td>
                  <% dates_list << entry.appointment.scheduled_at.strftime("%m/%Y") %>
                  <td> <%= entry.cid.code %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </p>
         <p>
          <% begin %>
            <% TCPSocket.new 'google.com', 80 %>
            <% data = Statistics.calculate_percentages_and_labels(dates_list) %>
            <% chart_url = Gchart.line(theme: :keynote, :data => data.values, bg: "F5F5F5", :title => 'Destribuição do CID ' + @cid.code + ' no tempo', :size => '500x300', :labels => data.keys, :axis_with_labels => ['x', 'y'], :axis_range => [nil, [0, data.values.max, 10]]) %>
            <center>
              <%= image_tag(chart_url) %>
            </center>
          <% rescue SocketError %>
            <center>(Sem internet para gerar o gráfico)</center> 
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>