<%= icon_title_for(Record.model_name.human(count: :many), "icon-paste") %>
<div class="row-fluid">
  <div class="span12">
    <div class="box dark">
      <header>
        <div class="icons"><i class="icon-list-ul"></i></div>
        <h5>Lista de Prontuários</h5>
        <!-- .toolbar -->
        <div class="toolbar">
          <ul class="nav">
            <li>
              <a class="accordion-toggle minimize-box" data-toggle="collapse" href="#div-1">
                <i class="icon-chevron-up"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- /.toolbar -->
      </header>
      <div id="div-1" class="accordion-body collapse in body">  
        <%= render partial: 'shared/alerts' %> 
        <%= form_for(Pacient.new, :url => search_records_path, :html => { :class => 'search form-inline' }) do |f| %>
          <%= f.text_field :name, :placeholder => "Buscar por nome" %>
        <% end %>
        <table class="table table-striped table-bordered table-condensed">
          <thead>
            <tr>
              <th> Número </th>
              <th> Nome </th>
              <th> Última consulta </th>
              <th> Status </th>
              <% if can? :manage, Record %>
                <th> Ações </th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @records.each do |record| %>
              <tr>
                <td> <%= record.to_s %> </td>
                <td> <%= record.pacient.name %></td>
                <td> <%= date_format(record.last_appointment.try(:scheduled_at)) %> </td>
                <td> <%= record.status.text %></td>
                <% if can? :manage, Record %>
                  <td>
                    <%= link_to edit_record_path(record), title: "Editar" do %>
                      <i class="icon-pencil icon-large" style="padding-right: 5px"></i>
                    <% end %>
                    <% if record.pacient.active? %>
                      <%= link_to pacient_path(record.pacient), title: "Desativar paciente", :method => :delete, :confirm => 'Tem certeza que deseja desativar este paciente do sistema?' do %>
                        <i class="icon-trash icon-large" style="padding-right: 5px"></i>
                      <% end %>
                    <% else %>
                      <%= link_to pacient_recreate_path(:pacient_id=>record.pacient_id), title: "Reativar", :confirm => 'Tem certeza que deseja reativar esse paciente do sistema?' do %>
                        <i class="icon-undo icon-large" style="padding-right: 5px"></i>
                      <% end %>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
