<% @records.each do |record| %>
  <tr>
    <td> <%= record.to_s %> </td>
    <td> <%= record.pacient.name %></td>
    <td> <%= date_format(record.last_appointment.try(:scheduled_at)) %> </td>
    <td> <%= record.status.text %></td>
    <td>
      <% if can? :manage, Record %>
        <%= link_to edit_record_path(record), title: "Editar" do %>
          <i class="icon-pencil icon-large" style="padding-right: 5px"></i>
        <% end %>
        <% if record.pacient.active? %>
          <%= link_to pacient_path(record.pacient), title: "Desativar paciente", :method => :delete, :confirm => 'Tem certeza que deseja desativar este paciente do sistema?' do %>
            <i class="icon-trash icon-large" style="padding-right: 5px"></i>
          <% end %>
        <% else %>
          <%= link_to pacient_recreate_path(:pacient_id=>record.pacient_id), title: "Reativar", :confirm => 'Tem certeza que deseja reativar esse paciente do sistema?' do %>
            <i class="icon-undo icon-large" style="padding-right: 5px"></i>
          <% end %>
        <% end %>
      <% end %>
      <%= link_to export_record_path(record), title: "Exportar PDF" do %>
        <i class="icon-download-alt icon-large" style="padding-right: 5px"></i>
      <% end %>
    </td>
  </tr>
<% end %>