<html>
  <head>
    <meta name="pdfkit-orientation" content="Portrait"/>
  </head>
  <body>
    <h2><%= Record.model_name.human + " " + @record.to_s %></h2>
    
    <h3>Dados cadastrais</h3>
    <table>
      <thead>
        <th style="width: 25%"></th>
        <th style="width: 25%"></th>
        <th style="width: 25%"></th>
        <th style="width: 25%"></th>
      </thead>
      <tbody>
        <tr>
          <td><b>Status da ficha</b></td>
          <td><%= @record.status.text %></td>
          <td><b>Idade</b></td>
          <td><%= @pacient.age_in_words %></td>
        </tr>
        <tr>
          <td><b>Nome do responsável</b></td>
          <td><%= @pacient.parent_name %></td>
          <td><b>Telefone</b></td>
          <td><%= @pacient.phone %></td>
        </tr>
        <tr>
          <td><b>E-mail</b></td>
          <td><%= @pacient.email %></td>
          <td><b>Convênio</b></td>
          <td><%= @pacient.health_insurance %></td>
        </tr>
      </tbody>
    </table>      
    
    <h3>Histórico de consultas</h3>
    <% @record.appointments.sort_by{ |app| app.scheduled_at }.each do |appointment| %>
      <% entry = appointment.record_entry %>
      <p>
        <table class="pdf-table">
          <tbody>
            <tr>
              <td><b>Data e hora</b></td>
              <td><%= l(appointment.scheduled_at) %></td>
              <td><b>Status</b></td>
              <td><%= appointment.status.text %></td>
            </tr>
            <tr>
              <td><b>Problemas / Sintomas</b></td>
              <td><%= entry.try(:problems) %></td>
              <td><b>Diagnóstico</b></td>
              <td><%= entry.try(:diagnosis) %></td>
            </tr>
            <tr>
              <td><b>Prescrição / Recomendações</b></td>
              <td><%= entry.try(:prescription) %></td>
              <td><b>Anexos</b></td>
              <td>
                <% unless entry.blank? %>
                  <ul>
                    <% entry.appointment_attachments.each do |attachment| %>
                      <li><%= attachment.file_file_name %></li>
                    <% end %>
                  </ul>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </p>
    <% end %>
  </body>
</html>