<div id="appointment-window" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Consulta</h3>
  </div>
  <%= simple_nested_form_for(Appointment.new, :html => { :class => 'form-horizontal', style: "margin-bottom: 0px" }) do |f| %>
    <div class="modal-body">
      <fieldset>        
        <%= f.input :scheduled_at, as: :string, input_html: { readonly: true }%>
        <%= f.association :agenda, :as => :hidden, input_html: { value: @agenda.id } %>
        <%= f.association :record, :include_blank=> "Novo paciente", :label_method => :id_and_pacient %>

        <%= f.fields_for :record do |rec_f| %>
          <%= rec_f.fields_for :pacient do |pac_f| %>
            <%= pac_f.input :name %>
            <%= f.association :health_insurance, :collection => @agenda.doctor.health_insurances, :include_blank => :false %>
            <%= pac_f.input :phone %>
          <% end %>

          <%= rec_f.input :status, collection: Record.status.options, :include_blank => false, :disabled => true, selected: :new %>

          <div id="last_appointment_date" style="display: none">
            <div class="control-group">
              <label for="record_last_appointment_date" class="control-label">
                Última consulta
              </label>
              <div class="controls">
                <%= text_field :record, :last_appointment_date, disabled: true %>
              </div>
            </div>
            <div id="appointment-date-warning" style="display: none">
            </div>
          </div>
        <% end %>
      </fieldset>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
      <%= f.button :submit, 'Salvar consulta', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>