<div class="span12">
  <div class="agenda">
    <% if @agenda.active?  && can?(:read, @agenda) %>
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>
              Horário
            </th>
            <% @week.each do |day| %>
              <th class="<%= day.today? ? 'today':'' %>">
                <%= l day, :format => :agenda_day %>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @agenda.time_array(@week).each do |time| %>
            <tr>
              <td>
                <%= l time, :format => :hourly %>
              </td>
              <% @week.each do |day| %>
                <% datetime = day.to_date + time.hour.hours + time.min.minutes %>
                <% if @agenda.appointment_at(datetime).nil? %>
                  <% if datetime < Date.today %>
                    <% if @agenda.available_datetime?(datetime) %>
                      <td> </td>
                    <% else %>
                      <td class="unavailable">
                        <div class="unavailable">
                        </div>
                      </td>
                    <% end %>
                  <% else %>
                    <% if @agenda.available_datetime?(datetime) %>
                      <td>
                        <div class="free-spot" data-date="<%= datetime.to_s %>">
                          <% if can? :create, Appointment %>
                            <%= link_to '#', class: "free-spot-link", title: "Nova cosulta" do %>
                              <i class="icon-plus"></i>
                            <% end %>
                          <% end %>
                        </div>
                      </td>
                    <% else %>
                      <td class="unavailable">
                        <div class="unavailable" data-date="<%= datetime.to_s %>">
                          <% if can? :create, Appointment %>
                            <%= link_to '#', class: "free-spot-link", title: "Cosulta fora do horário" do %>
                              <!-- come up with a link that doesn't kill the visual -->
                            <% end %>
                          <% end %>
                        </div>
                      </td>
                    <% end %>
                  <% end %>
                <% else %>
                  <% if @agenda.available_datetime?(datetime) %>
                    <td>
                      <% appointment = @agenda.appointment_at(datetime) %>
                      <div class="busy-spot" data-date="<%= datetime.to_s %>" data-appointment="<% appointment.id %>">
                        <%= link_to appointment.record.pacient.name, '#', class: "busy-spot-link pull-left", title: "Detalhes" %>
                        <% if datetime >= Date.today && can?(:delete, Appointment) %>
                          <%= link_to appointment_path(appointment), method: :delete, confirm: "Tem certeza que deseja desmarcar essa consulta?", class: "pull-right", title: "Remover" do %>
                            <i class="icon-remove-sign red"></i>
                          <% end %>
                        <% end %>
                      </div>
                    </td>
                  <% else %>
                    <td class="unavailable">
                      <% appointment = @agenda.appointment_at(datetime) %>
                      <div class="unavailable busy-spot" data-date="<%= datetime.to_s %>" data-appointment="<% appointment.id %>">
                        <%= link_to appointment.record.pacient.name, '#', class: "busy-spot-link pull-left", title: "Detalhes" %>
                        <% if datetime >= Date.today && can?(:delete, Appointment) %>
                          <%= link_to appointment_path(appointment), method: :delete, confirm: "Tem certeza que deseja desmarcar essa consulta?", class: "pull-right", title: "Remover" do %>
                            <i class="icon-remove-sign red"></i>
                          <% end %>
                        <% end %>
                      </div>
                    </td>
                  <% end %>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      Essa não é uma agenda ativa ou você não tem permissão para vê-la.
    <% end %>
  </div>
</div>

<%= render partial: 'new_appointment' %>

<script>
  var appointment_date;

  window.bindLinks = function () {
    $("a.free-spot-link").on('click', function () {
        appointment_date = $(this).parent().data('date');
        $("#appointment-form").modal();  
    });
    $("a.busy-spot-link").on('click', function () {
        appointment_date = $(this).parent().data('date');
        $("#appointment-form").modal();
    });
  }

   $('#appointment-form').on('shown', function () {
     $('div#last_appointment_date').hide();
     $('#record_status').val("new");
     $('#appointment_scheduled_at').val(appointment_date);
     //window.health_insurances = JSON.parse("<%= @agenda.doctor.health_insurances.to_json %>");
     window.health_insurances = JSON.parse("[{\"active\":true,\"created_at\":\"2013-09-14T19:41:33-03:00\",\"id\":1,\"name\":\"Sem conv\\u00eanio (particular)\",\"updated_at\":\"2013-09-14T19:41:33-03:00\"},{\"active\":true,\"created_at\":\"2013-09-14T19:41:33-03:00\",\"id\":2,\"name\":\"Assim\\u00e9dica\",\"updated_at\":\"2013-09-14T19:41:33-03:00\"},{\"active\":true,\"created_at\":\"2013-09-14T19:41:33-03:00\",\"id\":4,\"name\":\"Unimed\",\"updated_at\":\"2013-09-14T19:41:33-03:00\"}]");
     //TODO: arrumar esse parse do JSON
     bindRecord();
   });
</script>