<%= javascript_include_tag :record_entries %>
<div class="box dark">
  <header>
    <div class="icons"><i class="icon-file"></i></div>
    <h5><%= @record.to_s %></h5>
    <!-- .toolbar -->
    <div class="toolbar">
      <ul class="nav">
        <li>
          <a class="accordion-toggle minimize-box" data-toggle="collapse" href="#div-1">
            <i class="icon-chevron-up"></i>
          </a>
        </li>
      </ul>
    </div>
    <!-- /.toolbar -->
  </header>
  
  <div id="div-1" class="accordion-body collapse in body" style="padding-left: 20px; padding-right: 10px;">
    <%= render partial: 'shared/alerts' %> 
    <div class="control-group">
      <b>Status da ficha:</b>
      <div class="controls">
        <%= @record.status.text %>
      </div>
    </div>
    <div class="control-group">
      <b>Histórico de consultas:</b>
    </div>
    <div class="span11">
      <table class="table table-striped table-bordered table-condensed">
        <thead>
          <th style="width: 17%">Data</th>
          <th>Diagnóstico</th>
          <th style="width: 7%">Mais</th>
        </thead>
        <tbody>
          <% short_history(@record, @appointment).each do |prev_app| %>
            <tr>
              <td><%= l(prev_app.scheduled_at.to_date) %></td>
              <td><%= prev_app.record_entry.try(:diagnosis) %></td>
              <td>
                <% if prev_app.record_entry %>
                  <%= link_to '#', title: 'Ver detallhes', class: 'history-link', 'data-entry' => prev_app.record_entry.id do %>
                    <i class="icon-search"></i>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= simple_nested_form_for(@record_entry, :html => { :class => 'form-horizontal' }) do |f| %>
      <fieldset>
        <%= f.hidden_field :appointment_id, value: @appointment.id %>
        <%= f.hidden_field :from_record, value: false %>
        <% if @record_entry.new_record? %>
          <%= f.input :problems, as: :text, input_html: {style: "width: 80%", rows: 3} %>
          <%= f.input :diagnosis, as: :text, input_html: {style: "width: 80%", rows: 3} %>
          <%= f.input :prescription, as: :text, input_html: {style: "width: 80%", rows: 3} %>
          <%= f.association :cid, value_method: :id, label_method: :to_s, input_html: { class: "select2" } %>
        <% else %>
          <%= f.input :problems, as: :text, input_html: {value: @record_entry.problems, disabled: true, style: "width: 80%", rows: 3} %>
          <%= f.input :diagnosis, as: :text, input_html: {value: @record_entry.diagnosis, disabled: true, style: "width: 80%", rows: 3} %>
          <%= f.input :prescription, as: :text, input_html: {value: @record_entry.prescription, disabled: true, style: "width: 80%", rows: 3} %>
          <%= f.input :cid, as: :string, input_html: {value: @record_entry.cid.try(:to_s), disabled: true} %>
        <% end %>
        
        
          <%= f.simple_fields_for(:appointment_attachments, :html => { :class => 'form-horizontal' }) do |atch_form| %>
            <% attachment = atch_form.object %>
            <div class="row-fluid" style="padding-bottom: 15px">
              <div class="span7">
                <div class="control-group">
                  <%= atch_form.label :file, class: "control-label" do %>
                    Arquivo <%= image_tag("attachment.png", width: '20px', height: '20px') %>
                  <% end %>
                  <div class="controls">
                    <% if attachment.new_record? %>
                      <%= atch_form.input_field :file %>
                    <% else %>
                      <% if attachment.file_file_name.size > 20 %>
                        <%= link_to attachment.file_file_name.first(20) + "...", attachment.file.url, title: attachment.file_file_name, target: "_blank" %>
                      <% else %>
                        <%= link_to attachment.file_file_name, attachment.file.url, title: attachment.file_file_name, target: "_blank" %>
                      <% end %>
                    <% end %> 
                  </div>
                </div>
              </div>
              <div class="span4" style="margin: 0px">
                <%= atch_form.input_field :notes, as: :string, placeholder: "Observações", style: "width: 95%" %>
              </div>
              <div class="span1 pull-left">
                <%= atch_form.link_to_remove do %>
                  <i class="icon-remove icon-large red" title="Remover anexo"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        
        
        <%= f.link_to_add :appointment_attachments, class: "btn" do %>
          <i class="icon-plus"></i> Adicionar anexo
        <% end %>

        <div class="form-actions">
          <%= f.button :submit, "Salvar" %>
          <%= link_to "Cancelar", day_index_appointments_path, :class => :btn %>
        </div>
        
      </fieldset>
    <% end %>
  </div>
</div>

<div id="entry-window" style="width: 700px; max-height: 600px;" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="myModalLabel">Detalhes da consulta</h3>
  </div>
  <div class="modal-body" id="entry-body">
  </div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal" class="btn">Fechar</a>
  </div>
</div>