<%= simple_nested_form_for(@record_entry, :html => { :class => 'form-horizontal' }) do |f| %>
  <fieldset>
    <%= f.input :problems, as: :text, input_html: {value: @record_entry.problems, disabled: true, style: "width: 80%", rows: 3} %>
    <%= f.input :diagnosis, as: :text, input_html: {value: @record_entry.diagnosis, disabled: true, style: "width: 80%", rows: 3} %>
    <%= f.input :prescription, as: :text, input_html: {value: @record_entry.prescription, disabled: true, style: "width: 80%", rows: 3} %>
    <%= f.input :cid, as: :string, required: false, input_html: {value: @record_entry.cid.try(:to_s), disabled: true} %>
    
    <% @record_entry.appointment_attachments.each do |attachment| %>
      <div class="span5">
        <figure>
          <%= link_to attachment.file.url, target: "_blank" do %>
            <%= image_tag attachment.image_url(:thumb), class: "media-object img-polaroid user-img", title: attachment.file_file_name %>
          <% end %>
          <figcaption>
            <%= attachment.notes %>
          </figcaption>
        </figure>
      </div>
    <% end %>    
  </fieldset>
<% end %>