<%= simple_nested_form_for(@record_entry, :html => { :class => 'form-horizontal' }) do |f| %>
  <fieldset>
    <%= f.input :problems, as: :text, input_html: {value: @record_entry.problems, disabled: true, style: "width: 80%", rows: 3} %>
    <%= f.input :diagnosis, as: :text, input_html: {value: @record_entry.diagnosis, disabled: true, style: "width: 80%", rows: 3} %>
    <%= f.input :prescription, as: :text, input_html: {value: @record_entry.prescription, disabled: true, style: "width: 80%", rows: 3} %>
    <%= f.input :cid, as: :string, required: false, input_html: {value: @record_entry.cid.try(:to_s), disabled: true} %>
    
    <%= f.simple_fields_for(:appointment_attachments, :html => { :class => 'form-horizontal' }) do |atch_form| %>
      <div class="span4">
        <%= link_to atch_form.object.file.url, target: "_blank" do %>
          <figure>
            <%= image_tag atch_form.object.image_url(:thumb), class: "media-object img-polaroid user-img", title: atch_form.object.file_file_name %>
            <figcaption>
              <% if atch_form.object.file_file_name.size > 10 %>
                <%= atch_form.object.file_file_name.first(10) + "..." %>
              <% else %>
                <%= atch_form.object.file_file_name %>
              <% end %>
            </figcaption>
          </figure>
        <% end %>
      </div>
    <% end %>    
  </fieldset>
<% end %>