<%= simple_nested_form_for(pacient, :html => { :class => 'form-horizontal' }) do |f| %>
  <fieldset>
    <%= f.simple_fields_for :record do |rec_form| %>
      <%= rec_form.input :status, :include_blank => "Selecione um status" %> 
      <div id="last_appointment">
      <%= rec_form.input :last_appointment_date, as: :string, required: true, :placeholder => "Selecione a data", input_html: {value: date_format(pacient.record.last_appointment_date), :class => 'datepicker', 'data-date'=> pacient.record.last_appointment_date, 'data-date-format'=>"dd/mm/yyyy"} %>
      <%= rec_form.input :code, required: true %> 
    <% end %>
    <br />
    <%= f.input :name %>
    <%= f.input :birthdate, :as => :string, :input_html => {value: date_format(pacient.birthdate), :class => 'datepicker', 'data-date'=> date_format(pacient.birthdate), 'data-date-format'=>"dd/mm/yyyy" } %>

    <!-- caso overage? -->
    <%= f.input :cpf %>
    <%= f.input :rg %>

    <!-- caso !overage? -->
    <%= f.input :parent_name %>
    <%= f.input :parent_rg %>
    <%= f.input :parent_cpf %>

    <%= f.association :health_insurance, collection: HealthInsurance.active.all, :include_blank => 'Selecione uma opção' %>
    <%= f.input :address, :input_html => {:class => 'input-large'} %>
    <%= f.input :phone %>
    <%= f.input :email %>

    <%= render partial: '/contact_infos/form', locals: {f: f} %>

    <div class="form-actions">
      <%= f.button :submit, "Salvar" %>
      <%= link_to "Cancelar", pacients_path, :class => :btn %>
    </div>
  </fieldset>
<% end %>


<script>
  $( function() {  
    $('#pacient_birthdate').datepicker('remove');
    $('#pacient_birthdate').datepicker({
      startView: 'year',
      language: 'pt-BR',
      endDate: new Date(),
      todayHighlight: true,
      autoclose: true
    });

    $("#pacient_record_attributes_status").on('change', function () {
      if($(this).val()=='new' || $(this).val()=="") {
        $('div.pacient_record_last_appointment_date').hide();
      }
      else {
        $('div.pacient_record_last_appointment_date').show();
      }
      if($(this).val()=='regular') {
        $('div.pacient_record_code').show();
      }
      else {
        $('div.pacient_record_code').hide();
      }
    });

    $("#pacient_record_attributes_status").trigger('change');
    
  });
</script>