<% @pacients.each do |pacient| %>
  <tr>
    <td> <%= pacient.record.code %> </td>
    <td> <%= link_to pacient.name, pacient_path(pacient) %> </td>
    <td> <%= pacient.record.status.text %> </td>
    <td> <%= date_format(pacient.record.last_appointment.try(:scheduled_at)) %> </td>
    <% if can? :manage, Pacient %>
      <td>
        <%= link_to edit_pacient_path(pacient), title: "Editar cadastro" do %>
          <i class="icon-pencil icon-large" style="padding-right: 5px"></i>
        <% end %>
        <% if can? :manage, Record %>
          <%= link_to edit_record_path(pacient.record), title: "Prontuário" do %>
            <i class="icon-paste icon-large" style="padding-right: 5px"></i>
          <% end %>
        <% end %>
        <%= link_to export_record_path(pacient.record), title: "Exportar ficha" do %>
          <i class="icon-download-alt icon-large" style="padding-right: 5px"></i>
        <% end %>
        <% if pacient.active? %>
          <%= link_to pacient_path(pacient), title: "Desativar", :method => :delete, :confirm => 'Tem certeza que deseja desativar este paciente do sistema?' do %>
            <i class="icon-trash icon-large" style="padding-right: 5px"></i>
          <% end %>
        <% else %>
          <%= link_to pacient_recreate_path(:pacient_id=>pacient), title: "Reativar", :confirm => 'Tem certeza que deseja reativar esse paciente do sistema?' do %>
            <i class="icon-undo icon-large" style="padding-right: 5px"></i>
          <% end %>
        <% end %>
      </td>
    <% end %>
  </tr>
<% end %>
