<%= icon_title_for(Pacient.model_name.human, "icon-user") %>
<div class="row-fluid">
  <div class="span12">
    <div class="box dark">
      <header>
        <div class="icons"><i class="icon-info-sign"></i></div>
        <h5><%= @pacient.name %></h5>
        <!-- .toolbar -->
        <div class="toolbar">
          <ul class="nav">
            <li><%= link_to 'Voltar', :back, 'data-target' => "#content" %></li>
            <% if can? :manage, Pacient %>
              <li><%= link_to 'Editar', edit_pacient_path(@pacient), 'data-target' => "#content" %></li>
            <% end %>
            <li>
              <a class="accordion-toggle minimize-box" data-toggle="collapse" href="#div-1">
                <i class="icon-chevron-up"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- /.toolbar -->
      </header>
      
      <div id="div-1" class="accordion-body collapse in body">
        <%= simple_form_for @pacient, class: "form-horizontal" do |f| %>
          <div class="control-group">
            <%= f.label :record_id, required: false, class: "control-label" %>
            <div class="controls">
              <div><%= '%04d' % @pacient.record.id  %></div>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :record_status, required: false, class: "control-label" %>
            <div class="controls">
              <div><%= @pacient.record.status.text %></div>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :email, required: false, class: "control-label" %>
            <div class="controls">
              <div><%= @pacient.email %></div>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :cpf, required: false, class: "control-label" %>
            <div class="controls">
              <div><%= @pacient.cpf %></div>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :rg, required: false, class: "control-label" %>
            <div class="controls">
              <div><%= @pacient.rg %></div>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :birthdate, required: false, class: "control-label" %>
            <div class="controls">
              <div><%= (@pacient.birthdate ? l(@pacient.birthdate) : "") %></div>
            </div>
          </div>
          <div class="control-group">
            <%= f.label "Idade", required: false, class: "control-label" %>
            <div class="controls">
              <div><%= (@pacient.birthdate ? @pacient.age_in_words : "") %></div>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :health_insurance, required: false, class: "control-label" %>
            <div class="controls">
              <div><%= @pacient.health_insurance.try(:name) %></div>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :address, required: false, class: "control-label" %>
            <div class="controls">
              <div><%= @pacient.address %></div>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :phone, required: false, class: "control-label" %>
            <div class="controls">
              <div><%= @pacient.phone %></div>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :parent_name, required: false, class: "control-label" %>
            <div class="controls">
              <div><%= @pacient.parent_name %></div>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :parent_rg, required: false, class: "control-label" %>
            <div class="controls">
              <div><%= @pacient.parent_rg %></div>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :parent_cpf, required: false, class: "control-label" %>
            <div class="controls">
              <div><%= @pacient.parent_cpf %></div>
            </div>
          </div>
          <%- @pacient.contact_infos.each do |cinfo| %>
            <div class="control-group">
              <%= f.label I18n.t('activerecord.attributes.contact_info.type.' + cinfo.type), required: false, class: "control-label" %>
              <div class="controls">
                <div><%= cinfo.value %></div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
