<%= simple_nested_form_for(doctor, :html => { :class => 'form-horizontal' }) do |f| %>
  <fieldset>
  <!-- INFOS DO MÉDICO -->
    <div class="control-group">
      <div class="controls">
        <%= image_tag doctor.avatar.url(:medium), class: "media-object img-polaroid user-img" %>
      </div>
    </div>
    <%= f.input :avatar %>
    <%= f.input :name %>
    <%= f.input :email %>
    <% if doctor.new_record? %>
      <%= f.input :username %>
    <% else %>
      <%= f.input :username, :disabled => true %>
    <% end %>
    <%= f.input :cpf %>
    <%= f.input :rg %>
    <%= f.input :birthdate, as: :string, :input_html => {:class => 'datepicker', 'data-date'=> doctor.birthdate, 'data-date-format'=>"dd/mm/yyyy"} %>
    <%= f.input :crm %>
    <%= f.input :gradyear, as: :string, :input_html => {:class => 'datepicker', 'data-date'=> doctor.gradyear, 'data-date-format'=>"dd/mm/yyyy"}  %>
    <%= f.association :occupations, :as => :check_boxes  %>
    <div class="control-group">
      <%= f.label :appointmentprice %>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on">R$</span> <%= f.number_field :appointmentprice, min: "1", max: "999", step: "0.01", :class => 'input-small' %>
        </div>
      </div>
    </div>
    <%= f.association :health_insurances, :as => :check_boxes %>
    <%= render partial: '/contact_infos/form', locals: {f: f} %>

    <!-- INFOS DA AGENDA -->
    <% if doctor.new_record? %>
      <br />
      <%= f.simple_fields_for :agenda do |ag_form| %>
        <fieldset>
          <legend>
            Configurar agenda do médico
          </legend>

          <%= render partial: '/agendas/form', locals: {ag_form: ag_form} %>
          
        </fieldset>
      <% end %>
    <% end %>

    <div class="form-actions">
      <%= f.button :submit, "Salvar" %>
      <%= link_to "Cancelar", doctors_path, :class => :btn %>
    </div>

  </fieldset>
<% end %>

<script>
  $(function() {
    var now = new Date();
    var yearsAgo = new Date();
    yearsAgo.setFullYear(now.getFullYear() - 18);

    $('#doctor_birthdate').datepicker('remove');
    $('#doctor_birthdate').datepicker({
      startView: 'decade',
      language: 'pt-BR',
      endDate: yearsAgo
    });

    $('#doctor_gradyear').datepicker('remove');
    $('#doctor_gradyear').datepicker({
      startView: 'decade',
      language: 'pt-BR',
      endDate: new Date()
    });

    var fixed_hi = "<%= HealthInsurance.where(name: 'Sem convênio (particular)').first.id %>"
    $('input#doctor_health_insurance_ids_'+fixed_hi).attr('checked', 'checked')
    $('input#doctor_health_insurance_ids_'+fixed_hi).attr('disabled', 'disabled')
    
  });
</script>
      

