<%= simple_nested_form_for(secretary, :html => { :class => 'form-horizontal' }) do |f| %>
  <fieldset>
    <%= f.input :name %>
    <%= f.input :email %>
    <% if secretary.new_record? %>
      <%= f.input :username %>
    <% else %>
      <%= f.input :username, :disabled => true %>
    <% end %>
    <%= f.input :cpf %>
    <%= f.input :rg %>
    <%= f.input :birthdate, as: :string, :input_html => {:class => 'datepicker', 'data-date'=> secretary.birthdate, 'data-date-format'=>"dd/mm/yyyy"} %>
    
    <%= render partial: '/contact_infos/form', locals: {f: f} %>

    <div class="form-actions">
      <%= f.button :submit, "Salvar" %>
      <%= link_to "Cancelar", secretaries_path, :class => :btn %>
    </div>

  </fieldset>
<% end %>
      
<script>
  var now = new Date();
  var yearsAgo = new Date();
  yearsAgo.setFullYear(now.getFullYear() - 10);

  $(function() {
    $('#secretary_birthdate').datepicker('remove');
    $('#secretary_birthdate').datepicker({
      startView: 'decade',
      language: 'pt-BR',
      endDate: yearsAgo
    });
  });
</script>
