<%= icon_title_for(Appointment.model_name.human(count: :many), "icon-paste") %>
<div class="row-fluid">
  <div class="span12">
    <div class="box dark">
      <header>
        <div class="icons"><i class="icon-file-text"></i></div>
        <h5>Gerar relatório</h5>
        <!-- .toolbar -->
        <div class="toolbar">
          <ul class="nav">
            <li>
              <a class="accordion-toggle minimize-box" data-toggle="collapse" href="#div-1">
                <i class="icon-chevron-up"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- /.toolbar -->
      </header>
      <div id="div-1" class="accordion-body collapse in body">
        <%= render partial: 'shared/alerts' %>
        <p>
          <%= search_form_for(@q, :html => { :class => 'form-inline' }) do |f| %>
            <%= f.label :agenda_id_eq, "Médico", style: "margin-right: 5px; margin-bottom: 15px" %>
            <%= f.select :agenda_id_eq, options_from_collection_for_select(Agenda.active, "id", "doctor_name", (params[:q][:agenda_id_eq] rescue nil)), include_blank: "Todos" %>
            <%= f.label :health_insurance_id_eq, "Convênio", style: "margin-right: 5px; margin-left: 10px" %>
            <%= f.select :health_insurance_id_eq, options_from_collection_for_select(HealthInsurance.all, "id", "name", (params[:q][:health_insurance_id_eq] rescue nil)), include_blank: "Todos" %>
            <%= f.label :scheduled_at_gteq, "De", style: "margin-right: 5px; margin-left: 10px"%>
            <%= f.text_field :scheduled_at_gteq, :class => 'input-medium datepicker', 'value'=> (params[:q][:scheduled_at_gteq] rescue nil), 'data-date-format'=>"dd/mm/yyyy" %>
            <%= f.label :scheduled_at_lteq, "Até", style: "margin-right: 5px; margin-left: 10px" %>
            <%= f.text_field :scheduled_at_lteq, :class => 'input-medium datepicker', 'value'=> (params[:q][:scheduled_at_lteq] rescue nil), 'data-date-format'=>"dd/mm/yyyy" %>
            <%= f.submit "Buscar", style: "margin-right: 5px; margin-left: 10px;" %>
          <% end %>
        </p>
        
        <p>
          <% if @appointments.any? %>
            <div style="margin-bottom: 13px">
              <%= link_to appointments_path(request.params.merge({format: "xls"})), class: "btn btn-success", target: "_blank" do %>
                <i class="icon-download-alt"></i> Exportar planilha
              <% end %>
            </div>
          <% end %>
        </p>

        <table class="table table-striped table-bordered table-condensed">
          <thead>
            <tr>
              <th> Médico </th>
              <th> Convênio </th>
              <th> Data </th>
              <th> Status </th>
              <th> Paciente </th>
              <th> CID </th>
            </tr>
          </thead>
          <tbody>
            <% @appointments.sort_by{ |app| app.scheduled_at }.each do |appointment| %>
              <tr>
                <td> <%= appointment.agenda.try(:doctor).try(:name) %> </td>
                <td> <%= appointment.health_insurance.try(:name) %> </td>
                <td> <%= l(appointment.scheduled_at.to_date) %> </td>
                <td> <%= appointment.status.text %> </td>
                <td> <%= appointment.record.pacient.name %> </td>
                <td> <%= appointment.record_entry.try(:cid).try(:code) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>