<%= icon_title_for(Appointment.model_name.human(count: :many) + " do dia: " + l(Date.today), "icon-paste") %>
<div class="row-fluid" style="height: 730px">
  <% @doctors.each do |doctor| %>
    <div class="span4">
      <div class="box dark">
        <header>
          <div class="icons"><i class="icon-time"></i></div>
          <h5><%= doctor.name %></h5>
          <!-- .toolbar -->
          <div class="toolbar">
            <ul class="nav">
              <li>
                <a class="accordion-toggle minimize-box" data-toggle="collapse" href="#doctor<%=doctor.id%>-agenda">
                  <i class="icon-chevron-up"></i>
                </a>
              </li>
            </ul>
          </div>
          <!-- /.toolbar -->
        </header>
        <div id="doctor<%=doctor.id%>-agenda" class="accordion-body collapse in body">  
          <table class="table table-striped table-bordered table-condensed" style="margin-bottom: 140px">
            <tbody>
              <% today_appointments(doctor).each do |appointment| %>
                <tr>
                  <td>
                    <div class="dropdown">
                      <%= link_to '#', 'data-toggle'=> "dropdown", class: "dropdown-toggle", title: appointment.status.text do %>
                        <%= icon_for_status(appointment.status) %> <i class="caret" style="vertical-align: center"></i>
                      <% end %>
                      <ul class="dropdown-menu" role="menu">
                        <% Appointment.status.values.each do |status| %>
                          <li>
                            <%= link_to update_status_appointments_path(id: appointment, status: status), style: "padding-left: 8px; padding-right: 4px" do %>
                              <%= icon_for_status(status) %> <font size="2"><%= t("enumerize.appointment.status." + status) %></font>
                            <% end %>
                          </li>
                        <% end %>
                      </ul>
                    </div>
                  </td>
                  <td> <%= appointment.scheduled_at.strftime("%H:%M") %> </td>
                  <td> <%= appointment.record.pacient.name %> </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>