<ul id="menu" class="unstyled accordion collapse in">
    <li class="accordion-group active">
        <a data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#dashboard-nav">
            <i class="icon-dashboard icon-large"></i> Geral <span
                class="label label-inverse pull-right">2</span>
        </a>
        <ul class="collapse in" id="dashboard-nav">
            <li><%= link_to root_path do %><i class="icon-angle-right"></i> Meu Dashboard<% end %></li>
            <li><%= link_to offices_path do %><i class="icon-angle-right"></i> A Clínica<% end %></li>
        </ul>
    </li>
    <li><a href="table.html"><i class="icon-table icon-large"></i> Pacientes</a></li>
    <li class="accordion-group ">
        <a data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#component-nav">
            <i class="icon-tasks icon-large"></i> Consultas <span class="label label-inverse pull-right">2</span>
        </a>
        <ul class="collapse " id="component-nav">
            <li><%= link_to agendas_path do %><i class="icon-angle-right"></i> Agendamento<% end %></li>
            <li><a href="progress.html"><i class="icon-angle-right"></i> Execução</a></li>
        </ul>
    </li>
    <li class="accordion-group ">
        <a data-parent="#menu" data-toggle="collapse" class="accordion-toggle collapsed" data-target="#form-nav">
            <i class="icon-pencil icon-large"></i> Configurações <span class="label label-inverse pull-right">4</span>
        </a>
        <ul class="collapse " id="form-nav">
            <li><%= link_to doctors_path do %><i class="icon-angle-right"></i> Médicos<% end %></li>
            <li><%= link_to secretaries_path do %><i class="icon-angle-right"></i> Secretárias<% end %></li>
            <li><%= link_to "#" do %><i class="icon-angle-right"></i> Convênios<% end %></li>
        </ul>
    </li>
    <li><a href="calendar.html"><i class="icon-calendar icon-large"></i> Calendar</a></li>
    <li class="accordion-group ">
        <a data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#error-nav">
            <i class="icon-warning-sign icon-large"></i> Error Pages <span
                class="label label-inverse pull-right">7</span>
        </a>
        <ul class="collapse" id="error-nav">
            <li><a href="403.html"><i class="icon-angle-right"></i> 403</a></li>
            <li><a href="404.html"><i class="icon-angle-right"></i> 404</a></li>
            <li><a href="405.html"><i class="icon-angle-right"></i> 405</a></li>
            <li><a href="500.html"><i class="icon-angle-right"></i> 500</a></li>
            <li><a href="503.html"><i class="icon-angle-right"></i> 503</a></li>
            <li><a href="offline.html"><i class="icon-angle-right"></i> offline</a></li>
            <li><a href="countdown.html"><i class="icon-angle-right"></i> Under Construction</a></li>
        </ul>
    </li>
</ul>
