<ul id="menu" class="unstyled accordion collapse in">
    <li class="accordion-group active">
        <a data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#general-nav">
            <i class="icon-dashboard icon-large"></i> Geral <span
                class="label label-inverse pull-right">2</span>
        </a>
        <ul class="collapse in" id="general-nav">
            <li><%= link_to root_path do %><i class="icon-laptop"></i> Meu Dashboard<% end %></li>
            <li><%= link_to office_path do %><i class="icon-home"></i> A Clínica<% end %></li>
        </ul>
    </li>
    <% if can? :read, Pacient %>
        <li class="accordion-group">
            <a data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#pacients-nav">
                <i class="icon-group icon-large"></i> Pacientes <span
                    class="label label-inverse pull-right">2</span>
            </a>
            <ul class="collapse " id="pacients-nav">
                <li><%= link_to pacients_path do %><i class="icon-user"></i> Cadastros<% end %></li>
                <% if can? :read, Record %>
                    <li><%= link_to records_path do %><i class="icon-paste"></i> Prontuários<% end %></li>
                <% end %>
            </ul>
        </li>
    <% end %>
    <% if can? :read, Appointment %>
        <li class="accordion-group">
            <a data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#appointments-nav">
                <i class="icon-paste icon-large"></i> Consultas <span
                    class="label label-inverse pull-right">2</span>
            </a>
            <ul class="collapse " id="appointments-nav">
                <% if can? :read, Agenda %>
                    <li><%= link_to agendas_path do %><i class="icon-calendar"></i> Agendamento<% end %></li>
                <% end %>
                <li><%= link_to appointments_path do %><i class="icon-time"></i> Execução</a><% end %></li>
            </ul>
        </li>
    <% end %>
    <% if can? :read, Doctor %>
        <li class="accordion-group">
            <a data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#settings-nav">
                <i class="icon-cog icon-large"></i> Cadastros <span
                    class="label label-inverse pull-right">2</span>
            </a>
            <ul class="collapse " id="settings-nav">
                <% if can? :read, Admin %>
                    <li><%= link_to admins_path do %><i class="icon-user"></i> Administradores<% end %></li>
                <% end %>
                <% if can? :read, Doctor %>
                    <li><%= link_to doctors_path do %><i class="icon-user-md"></i> Médicos<% end %></li>
                <% end %>
                <% if can? :read, Secretary %>
                    <li><%= link_to secretaries_path do %><i class="icon-user"></i> Secretárias<% end %></li>
                <% end %>
                <% if can? :read, HealthInsurance %>
                    <li><%= link_to health_insurances_path do %><i class="icon-medkit"></i> Convênios<% end %></li>
                <% end %>
                <% if can? :read, Occupation %>
                    <li><%= link_to occupations_path do %><i class="icon-stethoscope"></i> Especialidades<% end %></li>
                <% end %>
            </ul>
        </li>
    <% end %>
</ul>
