<ul id="menu" class="unstyled accordion collapse in">
    <li class="accordion-group">
        <a data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#general-nav">
            <i class="icon-dashboard icon-large"></i> Geral
        </a>
        <ul class="collapse in" id="general-nav">
            <li><%= link_to root_path do %><i class="icon-laptop"></i> Meu Dashboard<% end %></li>
            <li><%= link_to office_path do %><i class="icon-home"></i> A Clínica<% end %></li>
            <li><%= link_to statistics_path do %><i class="icon-bar-chart"></i> Estatísticas<% end %></li>
        </ul>
    </li>
    <% if can? :read, Pacient %> 
        <li class="accordion-group">
            <a href="/pacients" data-parent="#menu" class="accordion-toggle">
                <i class="icon-group icon-large"></i> Pacientes
            </a>
        </li>
    <% end %>
    <% if can? :read, Appointment %>
        <li class="accordion-group">
            <a data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#appointments-nav">
                <i class="icon-paste icon-large"></i> Consultas
            </a>
            <ul class="collapse in" id="appointments-nav">
                <% if can? :read, Agenda %>
                    <li><%= link_to agendas_path do %><i class="icon-calendar"></i> Agendamento<% end %></li>
                <% end %>
                <li><%= link_to day_index_appointments_path do %><i class="icon-time"></i> Execução</a><% end %></li>
                <li><%= link_to appointments_path do %><i class="icon-file-text"></i> Relatório</a><% end %></li>
            </ul>
        </li>
    <% end %>
    <% if can? :read, Doctor %>
        <li class="accordion-group">
            <a data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#settings-nav">
                <i class="icon-cog icon-large"></i> Cadastros
            </a>
            <ul class="collapse in" id="settings-nav">
                <% if can? :read, Admin %>
                    <li><%= link_to admins_path do %><i class="icon-user"></i> Administradores<% end %></li>
                <% end %>
                <% if can? :read, Doctor %>
                    <li><%= link_to doctors_path do %><i class="icon-user-md"></i> Médicos<% end %></li>
                <% end %>
                <% if can? :read, Secretary %>
                    <li><%= link_to secretaries_path do %><i class="icon-user"></i> Secretárias<% end %></li>
                <% end %>
                <% if can? :read, HealthInsurance %>
                    <li><%= link_to health_insurances_path do %><i class="icon-medkit"></i> Convênios<% end %></li>
                <% end %>
                <% if can? :read, Occupation %>
                    <li><%= link_to occupations_path do %><i class="icon-stethoscope"></i> Especialidades<% end %></li>
                <% end %>
                <% if can? :manage, Cid %>
                    <li><%= link_to import_cids_path do %><i class="icon-tags"></i> Importar CIDs<% end %></li>
                <% end %>
            </ul>
        </li>
    <% end %>
</ul>
