<ul id="menu" class="unstyled accordion collapse in">
    <li class="accordion-group">
        <a data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#general-nav">
            <i class="icon-dashboard icon-large"></i> Geral <span
                class="label label-inverse pull-right">2</span>
        </a>
        <ul class="collapse in" id="general-nav">
            <li><%= link_to root_path do %><i class="icon-laptop"></i> Meu Dashboard<% end %></li>
            <li><%= link_to office_path do %><i class="icon-home"></i> A Clínica<% end %></li>
        </ul>
    </li>
    <li><%= link_to pacients_path do %><i class="icon-group icon-large"></i> Pacientes<% end %></li>
    <li class="accordion-group ">
        <a data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#appointments-nav">
            <i class="icon-paste icon-large"></i> Consultas <span class="label label-inverse pull-right">2</span>
        </a>
        <ul class="collapse " id="appointments-nav">
            <li><%= link_to agendas_path do %><i class="icon-calendar"></i> Agendamento<% end %></li>
            <li><%= link_to "#" do %><i class="icon-file-text-alt"></i> Execução</a><% end %></li>
        </ul>
    </li>
    <li class="accordion-group ">
        <a data-parent="#menu" data-toggle="collapse" class="accordion-toggle collapsed" data-target="#settings-nav">
            <i class="icon-cog icon-large"></i> Configurações <span class="label label-inverse pull-right">4</span>
        </a>
        <ul class="collapse " id="settings-nav">
            <li><%= link_to admins_path do %><i class="icon-user"></i> Administradores<% end %></li>
            <li><%= link_to doctors_path do %><i class="icon-user-md"></i> Médicos<% end %></li>
            <li><%= link_to secretaries_path do %><i class="icon-user"></i> Secretárias<% end %></li>
            <li><%= link_to health_insurances_path do %><i class="icon-medkit"></i> Convênios<% end %></li>
        </ul>
    </li>
</ul>
